<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Change</title>
  </head>
  <body>
    <form action="/results" method="post">
      <label for="number">Insert a number from 1-99</label>
      <input type="text" name="number" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
